<% provide(:title, "Request") %>
<h2>Request an item</h2>

<div>
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'error_messages', object: f.object %>

	  <div class="editor-label">
      <%=f.label :name %>
	  </div>
	  <div class="editor-field">
      <%=f.text_field :name, :class => "txtInput" %>
	  </div>

	  <div class="editor-label">
      <%=f.label :email %>
	  </div>
	  <div class="editor-field">
      <%=f.text_field :email, :class => "txtInput" %>
	  </div>

	  <div class="editor-label">
      <%=f.label :password %>
	  </div>
	  <div class="editor-field">
      <%=f.password_field :password, :class => "txtInput" %>
	  </div>

	  <div class="editor-label">
      <%=f.label :password_confirmation, "Password Confirmation" %>
	  </div>
	  <div class="editor-field">
      <%=f.password_field :password_confirmation, :class => "txtInput" %>
	  </div>

	  <br/><br/>

      <%= f.submit "Create Account" %>
	  <br/>
    <% end %>
  </div>
</div>