<% provide(:title, "Edit") %>
<h1>Edit</h1>

<div>
  <div>
    <%= form_for(@item) do |f| %>
	  <%= render 'error_messages', object: f.object %>

      <div class="editor-label">
	  <%=f.label :name, "Item name" %>
	  </div>
	  <div class="editor-field">
      <%=f.text_field :name, :class => "txtInput" %>
	  </div>

      <div class="editor-label">
	  <%=f.label :description, "Description of the item" %>
	  </div>
	  <div class="editor-field">
      <%=f.text_field :description, :class => "txtInput" %>
	  </div>
      
	  <div class="editor-label">
	  <%=f.label :condition, "Condition of the item" %>
	  </div>
	  <div class="editor-field">
	  <%=f.select :condition, ["New", "Great", "Good", "Fair", "Poor", "Unusable"], {}, {:class => "ddlInput"} %>
	  </div>

      <div class="editor-label">
	  <%=f.label :category, "Category" %>
	  </div>
	  <div class="editor-field">
	  <%=f.text_field :category, :class => "txtInput" %>
	  </div>
	  <br/>
	  <%= @user %>
	  <% @item.user_id = current_user.id %>
      <%= f.submit "Update" %>
    <% end %>
  </div>
</div>