
<h2>My Items</h2>

<p>
    <a href="/items/new">Create</a>
</p>
<table class="displayThings">
    <tr>
        <th>
            Item Title
        </th>
        <th>
            Description
        </th>
        <th>
            Condition
        </th>
        <th>
            Category
        </th>
        <th>
            Visible to the Public
        </th>
        <th></th>
    </tr>

<!-- iterator 
1. finish show edit destroy functionality
2. why doesnt category/condition show up?-->

<% @items.each do |item| %>
    <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.condition %></td>
        <td><%= item.category_id %></td>
        <td><a> <%= link_to 'Details', item %> </a>/
        <a> <%= link_to 'Edit', edit_item_path(item) %></a>/
        <a> <%= link_to 'Destroy', item, :confirm => 'Are you sure?',
                                     :method => :delete %> </a></td>
        <!--
        <td>
            <a href="">Edit</a>/<a href="">Details</a>/<a href="">Delete</a>
        </td>
    -->
    </tr>
    <% end %>
<!-- iterator end -->

</table>