<% provide(:title, "Create") %>
<h1>Create</h1>

<div>
  <div>
    <%= form_for(@item) do |f| %>
	  <%= render 'error_messages', object: f.object %>

      <div class="editor-label">
	  <%=f.label :name, "Item name" %>
	  </div>
	  <div class="editor-field">
      <%=f.text_field :name, :class => "txtInput" %>
	  </div>

      <div class="editor-label">
	  <%=f.label :description, "Description of the item" %>
	  </div>
	  <div class="editor-field">
      <%=f.text_field :description, :class => "txtInput" %>
	  </div>
      
	  <div class="editor-label">
	  <%=f.label :condition, "Condition of the item" %>
	  </div>
	  <div class="editor-field">
	  <select name="item[condition]" class="ddlInput">
		<option value="0">New</option>
		<option value="1">Great</option>
		<option value="2">Good</option>
		<option value="3">Fair</option>
		<option value="4">Poor</option>
		<option value="5">Unusable</option>
	  </select>

      <div class="editor-label">
	  <%=f.label :category_id, "Category" %>
	  </div>
	  <div class="editor-field">
	  <%=f.text_field :category_id, :class => "txtInput" %>
	  </div>
	  <br/>
	  <%= @user %>
      <%= f.submit "Create" %>
    <% end %>
  </div>
</div>