<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Share Things - @ViewBag.Title</title>
  <title>ShareSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "site", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="allContent">
        <div class="head">
            <img width="38" height="42" src="../assets/LogoSmall.png" />
            Share Things
        </div>
		<div class="headMenu">
			<span class="headMenuItem"><a href='/requests/new'>Make Request</a></span>
			<span class="headMenuItem"><a href='/item/index'>My Items</a></span>
			<% if signed_in? %>
                          <span class="headMenuItem"><%= link_to "Logout", signout_path, method: "delete" %></a></span>
                        <% end %>
		</div>

		
        <div class="content">
			<%= yield %>
        </div>

        <div class="footer">&copy; 2012 Westmont CS Department</div>
    </div>
</body>
</html>
